# Dependências
node_modules/

# Build
dist/
dist-ssr/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Editor
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.temp